<div class="container">
    <!-- Row 1: Logo and Add User Button -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-md-6 d-flex align-items-center">
                <div class="alert alert-success" role="alert">
                    Surfaces for space {{address.address}}
                </div>
            </div>
        </div>
    </div>


    <!-- Row 2: Grid of Cards -->
    <div class="container mt-1" style="min-height: 600px;">
        <div class="row" id="userGrid">
            {{#each surfaces}}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <p><strong> Format : </strong> {{format}}</p>
                        <p> <strong> Size:</strong> {{width}}m x {{height}}m</p>
                        <img src="{{imgUrl}}" class="card-img-top card-img" alt="Sample Image">
                    </div>
                    <div class="card-footer">
                        <a href="/addReport/{{_id}}" class="btn btn-warning w-100">Report</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container">
        <a href="/" class="btn btn-primary">Back Home</a>
    </div>
</div>