<div class="container">
  <!-- Row 1: Logo and Add User Button -->
  <div class="container">
    <div class="row mt-1">
      <div class="col-md-6 d-flex align-items-center">
        <h2>Spaces Management</h2>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddSpaceModal">
          Add Spaces
        </button>
      </div>
    </div>
  </div>

  <!-- Row 2: Grid of Cards -->
  <div class="container-fluid mt-1" style="min-height: 640px;">
    <div class="row" id="userGrid">
      {{#each Spaces}}
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <p><strong> Address: </strong> {{address}}</p>
            <p> <strong> Type:</strong> {{type}}</p>
            <p><strong>Format:</strong> {{format}}</p>
            <p><strong>Ward:</strong> {{ward}}</p>
          </div>
          <div class="card-footer">
            <a href="/viewSpace/{{_id}}" class="btn btn-primary">View</a>
            <a href="/deleteItem/{{_id}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>

<div class="modal fade" id="AddSpaceModal" tabindex="-1" aria-labelledby="AddSpaceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="AddSpaceModalLabel">Add Spaces</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addItemForm" action="/addSpace" method="post">
          <label for="address">Address:</label>
          <input class="form-control" type="text" name="address" required><br>

          <label for="address">Long:</label>
          <input class="form-control" type="text" name="long" required><br>

          <label for="address">Lat:</label>
          <input class="form-control" type="text" name="lat" required><br>

          <label for="type">Type:</label>
          <input class="form-control" type="text" name="type" required><br>

          <label for="format">Format:</label>
          <input class="form-control" type="text" name="format" required><br>

          <label for="ward">Ward:</label>
          <input class="form-control" type="text" name="ward" required><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Add</button>
      </div>
    </div>
  </div>
</div>


<script>
  function submitForm() {
    var form = document.getElementById('addItemForm');
    form.submit();
  }

  function submitFormEdit() {
    var form = document.getElementById('EditItemForm');
    form.submit();
  }

  function getCurrentPage() {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get('page') || 1;
  }

  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('btn-warning')) {
      event.preventDefault();
      const itemId = event.target.getAttribute('href').split('/').pop();

      fetch(`/editItem/${itemId}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
        .then(response => response.json())
        .then(data => {
          updateModalContent(data.item);
          const myModal = new bootstrap.Modal(document.getElementById('UpdateUserModal'));
          myModal.show();
        })
        .catch(error => console.error('Error:', error));
    }
  });

  function updateModalContent(data) {
    document.getElementById('EditItemForm').action = `/editItem/${data._id}?page=${getCurrentPage()}`;
    document.getElementById('nameupd').value = data.name;
    document.getElementById('descriptionupd').value = data.description;
  }
</script>