<div class="container">
  <!-- Row 1: Logo and Add User Button -->
  <div class="container">
    <div class="row mt-1">
      <div class="col-md-6 d-flex align-items-center">
        <h2>User Management</h2>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddUserModal">
          Add User
        </button>
      </div>
    </div>
  </div>

  <!-- Row 2: Grid of Cards -->
  <div class="container-fluid mt-1" style="min-height: 640px;">
    <div class="row" id="userGrid">
      {{#each items}}
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
          </div>
          <div class="card-footer">
            <a href="/editItem/{{_id}}" class="btn btn-warning">Edit</a>
            <a href="/deleteItem/{{_id}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="container">
    <div class="pagination ">
      <ul class="pagination">
        {{#if totalPages}}
        {{#each pages}}
        {{#if this.isCurrent}}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{this.pageNumber}}</span>
        </li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="/?page={{this.pageNumber}}">{{this.pageNumber}}</a>
        </li>
        {{/if}}
        {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>

</div>

<div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="AddUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="AddUserModalLabel">Add User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addItemForm" action="/addItem" method="post">
          <label for="namenew">Name:</label>
          <input type="text" class="form-control" id="namenew" name="namenew" required>
          <br>
          <label for="descriptionnew">Description:</label>
          <textarea style="resize: none;" id="descriptionnew" class="form-control" name="descriptionnew"
            required></textarea>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Add User</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UpdateUserModal" tabindex="-1" aria-labelledby="UpdateUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateUserModalLabel">Add User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="EditItemForm" method="post">
          <label for="nameupd">Name:</label>
          <input type="text" class="form-control" id="nameupd" name="nameupd" value="{{item.name}}" required>
          <br>
          <label for="descriptionupd">Description:</label>
          <textarea style="resize: none;" class="form-control" id="descriptionupd" name="descriptionupd" rows="4"
            required>{{item.description}}</textarea>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitFormEdit()">Update User</button>
      </div>
    </div>
  </div>
</div>

<script>
  function submitForm(event) {
    var form = document.getElementById('addItemForm');
    form.submit();
  }

  function submitFormEdit() {
    var form = document.getElementById('EditItemForm');
    form.submit();
  }

  function getCurrentPage() {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get('page') || 1;
  }

  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('btn-warning')) {
      event.preventDefault();
      const itemId = event.target.getAttribute('href').split('/').pop();

      fetch(`/editItem/${itemId}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
        .then(response => response.json())
        .then(data => {
          updateModalContent(data.item);
          const myModal = new bootstrap.Modal(document.getElementById('UpdateUserModal'));
          myModal.show();
        })
        .catch(error => console.error('Error:', error));
    }
  });

  function updateModalContent(data) {
    document.getElementById('EditItemForm').action = `/editItem/${data._id}?page=${getCurrentPage()}`;
    document.getElementById('nameupd').value = data.name;
    document.getElementById('descriptionupd').value = data.description;
  }
</script>