<div class="container">
  <!-- Row 2: Grid of Cards -->
  <div class="container-fluid mt-1" style="min-height: 640px;">
    <div class="row" id="userGrid">
      {{#each Spaces}}
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <p><strong> Address: </strong> {{address}}</p>
            <p> <strong> Type:</strong> {{type}}</p>
            <p><strong>Format:</strong> {{format}}</p>
            <p><strong>Ward:</strong> {{ward}}</p>
          </div>
          <div class="card-footer">
            <a href="/viewSpace/{{_id}}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>



<script>
  function submitForm() {
    var form = document.getElementById('addItemForm');
    form.submit();
  }

  function submitFormEdit() {
    var form = document.getElementById('EditItemForm');
    form.submit();
  }

  function getCurrentPage() {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get('page') || 1;
  }

  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('btn-warning')) {
      event.preventDefault();
      const itemId = event.target.getAttribute('href').split('/').pop();

      fetch(`/editItem/${itemId}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
        .then(response => response.json())
        .then(data => {
          updateModalContent(data.item);
          const myModal = new bootstrap.Modal(document.getElementById('UpdateUserModal'));
          myModal.show();
        })
        .catch(error => console.error('Error:', error));
    }
  });

  function updateModalContent(data) {
    document.getElementById('EditItemForm').action = `/editItem/${data._id}?page=${getCurrentPage()}`;
    document.getElementById('nameupd').value = data.name;
    document.getElementById('descriptionupd').value = data.description;
  }
</script>